<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cox's Bazar hotels</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
       <!--=========================Navbar Started=================================-->
       <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Tour Guide</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          District
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Dhaka</a>
                            <a class="dropdown-item" href="#">Chittagong</a>
                            <a class="dropdown-item" href="#">sylhet</a>
                            <a class="dropdown-item" href="#">Barishal</a>                        
                            <a class="dropdown-item" href="#">Khulna</a>                        
                            <a class="dropdown-item" href="#">Rangpur</a>                        
                            <a class="dropdown-item" href="#">Rajshai</a>                        
                            <a class="dropdown-item" href="#">Mymanshing</a>                        
    
                        </div>
                      </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Famous Place
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Cox,Bazar</a>
                        <a class="dropdown-item" href="#">Saint Martin</a>
                        <a class="dropdown-item" href="#">Sajeek</a>
                        <a class="dropdown-item" href="#">Rangamati</a>                        
                        <a class="dropdown-item" href="#">Sundarban</a>                        
                        <a class="dropdown-item" href="#">Jaflong</a>                        
                        <a class="dropdown-item" href="#">Bisanakandi</a>                         
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/hotel">Hotel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Contact </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/admin" >Admin Page</a>
                    </li>
    
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Phone number" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Call Us</button>
                    <button class="btn btn-outline-info my-2 my-sm-0 user-log-out-btn" type="submit">Log Out</button>
                  </form>
                </div>
              </nav> 

            </div>
          <!--=============================== Navbar End===================-->  
          <main class="cox's-hotel-page">
            <div class="container cox-hotel-container">
              <h1>Cox's Bazar Hotels</h1>
              <hr>
              <div class="hotel">
                <div class="hotel-box1 cox-hotel-img1">                  
                </div>
                <div class="hotel-box2">
                  <h3>Hotel-01</h3>
                  <h4>BDT 2,350</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quibusdam, facere blanditiis recusandae dolores delectus!</p>                 
                  <button class="btn btn-info">Book Now</button>
                </div>
              </div>

              <div class="hotel">
                <div class="hotel-box1 cox-hotel-img2">                  
                </div>
                <div class="hotel-box2">
                  <h3>Hotel-01</h3>
                  <h4>BDT 2,350</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quibusdam, facere blanditiis recusandae dolores delectus!</p>                 
                  <button class="btn btn-info">Book Now</button>
                </div>
              </div>

              <div class="hotel">
                <div class="hotel-box1 cox-hotel-img3">                  
                </div>
                <div class="hotel-box2">
                  <h3>Hotel-01</h3>
                  <h4>BDT 2,350</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quibusdam, facere blanditiis recusandae dolores delectus!</p>                 
                  <button class="btn btn-info">Book Now</button>
                </div>
              </div>

              <div class="hotel">
                <div class="hotel-box1 cox-hotel-img4">                  
                </div>
                <div class="hotel-box2">
                  <h3>Hotel-01</h3>
                  <h4>BDT 2,350</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quibusdam, facere blanditiis recusandae dolores delectus!</p>                 
                  <button class="btn btn-info">Book Now</button>
                </div>
              </div>

              <div class="hotel">
                <div class="hotel-box1 cox-hotel-img5">                  
                </div>
                <div class="hotel-box2">
                  <h3>Hotel-01</h3>
                  <h4>BDT 2,350</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quibusdam, facere blanditiis recusandae dolores delectus!</p>                 
                  <button class="btn btn-info">Book Now</button>
                </div>
              </div>
            </div>
          </main>


        <!--=============================== Footer Start===================-->  
        <footer class="bg-dark"> 
            <div class="container">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <p class="copy">@2020 All rights resurved by Team Hoper</p>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <button class="btn btn-primary">Contact Us</button>
                    </div>
                </div>
            </div>
    
        </footer>
  
  
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/hotel/js/main.js"></script>
    
</body>
</html>